.bannerec
{
    width: 100%;
    height: 550px;
    background-image: url(/IMAGENES/BANNER/baner3.webp);
    background-position:justify; /* posición de la imagen justificado o centrado*/
    background-size:cover; /* contenedor del fondo ajustado, utiliza  cuando se hace modulos de repeticióncontain*/
    align-items: center;
    justify-content: center;
    text-align: center;
    color: bisque;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    display: flex;
}
.bannerec::before
{
    content: ""; /*contenedor vacio*/
    position: absolute;
    background-color: rgba(122, 95, 5, 0.11);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.contenidobanerec
{
    position: relative;
    z-index: 5; /*profunidad*/
    max-width: 800px;
}
.contenidobanerec h1
{
    font-size: 28pt;
    margin-bottom: 10pt;
    font-weight: bold;
}
.contenidobanerec p
{
    font-size: 16pt;
}
.contenido_rec 
{
    width: auto;
    height: auto;
    margin-top: 10px;
    text-align: justify;
    display: flex;
}

/*estilos para la cuadricula de imagenes*/
.cuadricula, .cuadriculas2
{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px
}
.contenedor
{
    display: flex;
}
.item
{
    background-color: rgb(red, green, blue);
    box-shadow: 4px 4px 4px black;
    text-align: center;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    padding: 15px;
}
.item img
{
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease, filter 0.3s ease;
    transform-origin: center;
    border-radius: 10px;
}
.item:hover img
{
    filter: brightness(0.7);
    transform: scale(1.7);
}

.descripcion
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background: rgba(7, 7, 7, 0.7);
    text-align: center;
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.3s ease, transform 1.2s ease;
}
.item:hover .descripcion
{
    opacity: 1;
    transform: translateY(0);
}
.descripcion h4
{
    color: rgb(0, 4, 255);
    font-family: 'Times New Roman', Times, serif;
}
.descripcion
{
    color: rgb(31, 184, 17);
    font-family: 'Times New Roman', Times, serif;
    font-size: 12pt;
}

/*estilos submenu*/

/*.menusecundario
{
    width: 200px;
    background-color: rgb(0, 38, 255);
    color: bisque;
}*/
.menusecundario h3
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 2px solid bisque;
    padding: 15px;
}
.menusecundario ul
{
    list-style: none;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12pt;
}
.menusecundario h3 {
    text-align: center;
    padding: 2px;
}
.menusecundario li a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 8px;
    background-color: rgb(71, 233, 111);
}
.menusecundario li a :hover, .menusecundario li a:focus
{
    background-color: rgb(red, green, blue);
    color: aqua;
    transform: scale(1.05);
    outline: none;
    /*el foco que al presionarse click debe quedarse marcado*/
}
.foco.activo
{
    background-color: black;
    color: aqua;
    transform: scale(1.05);
    font-weight: bold;
    border-right: 2px solid bisque;
}

/*contenido recetas*/

.contenidorec {
    display: flex;
    flex: 1;
}
.contenedor {
    width: 200px;
    background-color: #d6e4f0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.contenedor a {
    text-decoration: none;
    color: #0b3d91;
    padding: 10px;
    background: #a9c4eb;
    border-radius: 5px;
    text-align: center;
}
.contenedor a:hover {
    background: #82a4d9;
    transform: scale(1.05);
}
.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color:black;
    text-align: center;
}
.image-container {
    width: 100%; 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: center;
    align-content: center;
    background: #d6e4f0;
    padding: 20px;
    border-radius: 10px;
    flex: 1;
}
.recetas {
    text-align: center;
    padding: 15px;
}
.recetas img {
    width: 100%;
    max-width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    
    transition: transform 0.3s ease, filter 0.3s ease;
}
.recetas img:hover {
    transform: scale(1.1);
    filter: brightness(0.7);
}
.recetas p {
    margin-top: 10px;
    font-weight: bold;
    color: #0b3d91;
}

.contenidorec.contenedor.focoactivo
{
    background-color: #82a4d9;
    transform: scale(1.05);

}